@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  background-image: radial-gradient(
      at 97% 21%,
      rgb(193, 84, 140) 0px,
      transparent 20%
    ),
    radial-gradient(at 52% 50%, hsla(354, 98%, 61%, 1) 0px, transparent 15%),
    radial-gradient(at 0% 29%, rgb(187, 20, 172) 0px, transparent 20%),
    radial-gradient(at 97% 96%, rgb(126, 24, 82) 0px, transparent 20%),
    radial-gradient(at 1% 99%, rgb(176, 38, 93) 0px, transparent 20%),
    radial-gradient(at 79% 53%, hsla(343, 100%, 79%, 1) 0px, transparent 20%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.quandha {
  background: #b5b5b5;
  background: linear-gradient(to left, #b5b5b5 0%, #ff241c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
